<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet"  href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/menu.css">

    <style>
        table {
            float: left;
        }
        th {
            width: 30%;
            text-align: center;
        }
    </style>

</head>
<body >
    <!-- Khung menu -->
   <%- include('menu') %>
    <!-- -------------------------------------------------------- -->
    <div id="Home" >
            <img class="Imagehome"  src="/anh/4.jpg" alt="anh nen" />
            <!-- <img  style="image-rendering: pixelated; float: right;"  width="50%" height="50%" src="/anh/5.jpg" alt="anh nen" /> -->
            <h1 style="text-align: center;">Bạn đã đến với WEB học anh văn chuyên ngành Công nghệ thông tin</h1>
            <hr>
                    <div class="Home-Main">
                        <div class="Home-Main-Left">
                            <table style="float: left;" border="0">
                                <tr>
                                    <th >
                                        <img src="/anh/5.jpg" style="width: 100%; float: left;" alt="Hình ảnh">
                                    </th>
                                    <th> 
                                        <img src="/anh/6.jpg" style="width: 100%; float: left;" alt="Hình ảnh">
                                    </th>  
                                </tr>
                                <tr>
                                    <th><a href="#">Tham gia khóa học</a> </th>
                                    <th><a href="#">Giới thiệu các chủ đề</a></th>
                                </tr>

                            </table>


                        </div>

                       
                        <div class="Home-Main-Right">
                          
                                <table style="float: left;" border="0">
                                    <tr>
                                        <th >
                                            <img src="/anh/7.jpg" style="width: 100%; float: left;" alt="Hình ảnh">
                                        </th>
                                        <th> 
                                            <img src="/anh/8.jpg" style="width: 100%; float: left;" alt="Hình ảnh">
                                        </th>
                                        
                                    </tr>
    
                                    <tr>
                                        <th><a href="#">Tìm hiểu về công nghệ thông tin</a> </th>
                                        <th><a href="#">Các tài liệu tham khảo</a></th>
                                    </tr>
    
                                </table>
                            </div>
                    </div>
            <br>
            <div class="last">
                <div class="content">
                    <h1>Làm bài TEST thử</h1>
                    <button type="submit">Làm ngay</button>
                </div>
                <div class="additional-content">
                    <h1>Học thử chủ đề</h1>
                    <button type="submit">Học thử ngay</button>
                </div> 
            </div>
           
            <div class="thanh-cuoi"> </div>

            <div><h1 style="text-align: center;">Tham gia học anh văn ngay bây giờ ?</h1></div>
            <% var isLoggedIn = true; %> 
            <div class="login-register">
                <% if (!isLoggedIn) { %>
                    <div>
                        <button onclick="window.location.href='/dangnhap'" type="submit">ĐĂNG NHẬP</button>
                    </div>
                <% } %>
                <div>
                    <h2>Bạn chưa có tài khoản?</h2>
                    <a href='/dangky'>Đăng ký ngay</a>
                </div>
            </div>
           
            <div class="thanhle"></div>

            <div class="footer-bar">
                <div class="address-info">
                    <h2 style="font-weight: bold;"> TRƯỜNG ĐẠI HỌC SƯ PHẠM KỸ THUẬT VĨNH LONG</h2>
                    <p> Địa chỉ: 73 Nguyễn Huệ, phường 2, thành phố Vĩnh Long, tỉnh Vĩnh Long <br>
                        Điện thoại: (+84) 02703.822141 - Fax: (+84) 02703.821003 - Email: spktvl@vlute.edu.vn</p>
                </div>
                
                <div class="human-info" style="font-weight: bold;">
                    <p> Người thực hiện: Huỳnh Đức Huy <br>
                        Email: 21004182@st.vlute.edu.vn</p>
                </div>
            </div> 
    </div>
   
    
    


   

   
 <!--  nội dung của khung bài học -->
    <!-- <div id="khungbaihoc" style="display: none;">
        <div class="loaibt">
            <a href="#" onclick="tn()"> UNIT 1: COMPUTER USERS </a>
                <div id="trangbaihoc" style="display:none">
                    <div id="tieude">
                            <h1>UNIT 1: COMPUTER USER </h1>
                    </div> -->
                        <!-- <div id="btntuvung">
                            <button type="submit"> Các từ thông dụng </button>
                        </div> -->
                        <!-- <div class="tuvung">
                            <h3>Các từ thông dụng</h3>
                            <p> - database: cơ sở dữ liệu <br>
                                - graphical (user) interfaces: giao diện người dùng, giao diện đồ họa<br>
                                - menus: thực đơn<br>
                                - mouse: chuột<br>
                                - clicking: nhấp<br>
                                - keyboard: bàn phím<br>
                                - monitor screen: màn hình điều khiển<br>
                                - personal computers (PCs): máy tính cá nhân<br>
                                - IBM (Interbational Business Machines)<br>
                                - Handeld: cầm tay<br>
                                - Expansion cards: thẻ mở rộng<br>
                                - Expansion slots: các khe cắm mở rộng<br>
                                - smart cards: những chiếc thẻ thông minh<br>
                                - smart devices: thiết bị thông minh<br>
                                - operating system: hệ điều hành<br>
                                - application programs: chương trình ứng dụng<br>
                                - wordproceesors: bộ vi xử lý<br>
                                - spreadsheets: bảng tính
                                </p>
                        </div>

                </div>
        </div>

        <div class="loaibt">
            <a href="#"> UNIT 2: NETWORKS </a>
        </div>

        <div class="loaibt">
            <a href="#"> UNIT 3: THE INTERNET</a>
        </div>

        <div class="loaibt">
            <a href="#"> UNIT 4: WEBSITES</a>
        </div>
    
    </div>


    <div id="trangchuyennganh" style="display:none;">
        <h1> Chọn chuyên ngành</h1>
    </div>

    <div id="trangktnhanh" style="display:none;"> 
        <div class="container">
            <div class="column" id="leftColumn">
              <h2>Left Column</h2>
              <p>This is the left column content.</p>
            </div>
            <div class="column" id="rightColumn">
              <h2>Right Column</h2>
              <p>This is the right column content.</p>
            </div>
        </div>
    </div> -->

    <!-- phần tiêu đề cuối trang -->
    <!-- <div class="footer-bar">
        <div class="address-info">
            <p style="font-weight: bold;"> TRƯỜNG ĐẠI HỌC SƯ PHẠM KỸ THUẬT VĨNH LONG</p>
            <p> Địa chỉ: 73 Nguyễn Huệ, phường 2, thành phố Vĩnh Long, tỉnh Vĩnh Long <br>
                Điện thoại: (+84) 02703.822141 - Fax: (+84) 02703.821003 - Email: spktvl@vlute.edu.vn</p>
        </div>
        <div class="tt">
            <p> Người thực hiện: Huỳnh Đức Huy <br>
                Email: 21004182@st.vlute.edu.vn</p>
        </div>
    </div> -->
    <!-- code java xử lý -->
        <script src="/js/main.js">

</script>
</body>
</html>
