<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <title>menu</title>
</head>
<body>
    <div class="khung">
        <ul>
            <li> <a href="/" > Trang chủ</a></li>
            <li> <a href="/trangbaihoc" onclick="Study()"> Bài học </a> </li>
            <li> <a href="#" > Kiểm tra nhanh</a></li>
            <li> <a href="#"> Cài đặt</a></li>
            <li> <a><img width="20" height="18"  style="opacity: 2;" src="/anh/User-avatar.svg.png" alt="Biểu tượng người ẩn danh"/></a></li>   
            <li>    
                <div class="logo"> 
                     ENGUISH 
                </div>
            </li>
        </ul>       
</div>  
</body>
</html>